.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

#hero-overlay{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;  
}

.navbar-text {
  margin-left: 15px;
}

.section-divider{
  background-color: #e7b959;
  min-height: 100px;
  color: #F5F5F5;
  text-align: center;
  padding: 25px;
  margin-top: 80px;
}

/* SECTION DIVIDER */

.section-divider h1{
  font-weight: lighter;
  font-size: 600%;
}

.section-divider h2{
  font-size: 400%;
}

/* OUR COLLECTION SECTION */
.item-wrapper{
  margin-top: 40px;
}
